:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: "Oswald";
  font-size: 3.2em;
  line-height: 1.1;
  text-transform: uppercase;
}

.main-header {
  text-align: center;
  margin-top: 0;
}

ul.fixed-images {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 24px;
}

ul.fixed-images li {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

ul.fixed-images li:nth-child(1) {
  z-index: 3;
}
ul.fixed-images li:nth-child(2) {
  z-index: 2;
}
ul.fixed-images li:nth-child(3) {
  z-index: 1;
}

ul.fixed-images img {
  object-fit: cover;
  object-position: top center;
  display: block;
  width: auto;
  height: 140vh;
}

.main-container {
  width: 100%;
  height: 500vh;
  background-color: rgb(240, 240, 240);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.fixed-heading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 10;
  width: 100%;
  max-width: 850px;
  text-align: center;
  margin: 0;
  height: 1rem;

  span {
    margin: 0;
    line-height: 1;
    color: #646cff;
    display: block;
    font-size: 1.2em;
    position: absolute;
    top: -50%;
  }

  .left-side {
    left: 0;
  }

  .right-side {
    right: 0;
  }
}

.pill-mask-container {
  position: fixed;
  top: 50vh;
  left: 50%;
  z-index: 2;
  pointer-events: none;
}

.fixed-content {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: transform;
}

.pill-svg {
  display: block;
  width: 300px;
  height: auto;
  position: fixed;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.masked-content {
  position: fixed;
  top: 50vh;
  left: 50%;
  width: 536px;
  height: 240px;
  transform: translate(-50%, -50%) scale(1);
  will-change: transform;
  z-index: 3;
  clip-path: url(#pill-mask);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0, 0, 0);
}

.fixed-text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  opacity: 0;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  pointer-events: none;
  color: rgb(248, 248, 248);
}

.fixed-text h1 {
  font-size: 2.5em;
  line-height: 1;
  margin: 0 0 0.5em 0;
}

.fixed-text h2 {
  font-family: "Oswald";
  font-size: 1.3em;
  line-height: 1.4;
  font-weight: 400;
  margin: 0 0 0.5em 0;
}

.fixed-text .cta {
  font-size: 1.1em;
  text-transform: uppercase;
  font-family: "Oswald";
  padding: 0.8em 2.2em;
  border: none;
  border-radius: 30px;
  background: #646cff;
  font-weight: 600;
  cursor: pointer;
  margin-top: 1em;
  pointer-events: auto;
}
